 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(255, 183, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#container{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}
main{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

#addmesa{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    position: fixed;
    top: 65px;
    background-color: rgb(255, 183, 0);
    font-size: 18px;
    letter-spacing: 0.1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid black;
    transition: 0.3s;
    color: white;
}
#addmesa:hover{
    letter-spacing: 1px;
    border: 2px solid black;
    background-color: rgb(41, 226, 9);
}
.mesa{
    width: 250px;
    height: 130px;
    background-color: #f0f1f1;
    border: 3px solid rgba(0, 0, 0, 0.773);
    border-radius: 10%;
    margin: 10px;
}
.mesaheight{
    height: 250px;
}
.divheader{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}
.btntrocarmesa ,
.btnfechar{
    width: 30px;
    height: 30px;
    text-align:center;
    border-radius: 100%;
}
.btntrocarmesa{
    background-image: url(../imagens/icone-trocar-mesa.png);
    background-repeat: no-repeat;
    background-size:22px;
    background-position:2px 2.2px;
}
.btnfechar{
    background-color: rgb(245, 77, 77);
    font-weight: bold;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inputstyle{
    width: 97%;
    margin-left: 2px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}
.titulodamesa{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform:uppercase ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.btnaddinfo{
    border: 0;
    margin-left: 210px;
    width: 30px;
    height:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(../imagens/icone-certo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#menucliente{
    margin-top: 120px;
    display: none;
}
#menucliente input{
    margin: 5px;
    width: 90%;
    text-align: center;
}
#res{
    margin-top: 20px;
}
.ativar{
    display:block !important;
}
.delete{
    display: none !important;
}

ul li {
    list-style-type: none;
}
p{
    font-size: 12px;
}

.cardapio{
    padding:20px;
    border-radius: 50px;
    border: 5px solid black;
    text-align:center;
    background-color: #000000d1;
    color: white;
    position: absolute;
    left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-170px;
    
    
}
.scroll-pedidos{
    overflow-y:scroll;
}


